<app-header></app-header>
<div id="main-wraper"> 
    <h1>HOLA CLASE DE PROGRAMACION WEB</h1>


    <app-sidebar></app-sidebar>
    <div class="page-wraper">

        <div class="container-fluid">
            <h5>Sistema de rutas</h5>
            <app-breadcrumbs></app-breadcrumbs>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p>Aqui van las rutas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<app-not-found-pages></app-not-found-pages>-->
    <app-footer></app-footer>
</div>